<link rel="stylesheet" href="static/home-event-user-card.css">

{% for event_id, event in user_events.items() %}
<a href="/{{ event_id }}" class="home-event-card-link">
    <div class="home-event-user-card">
        
        <div class="image-background">
            
            <img class="bgimage" src="{{ event['image_path'] }}">
            
            <!-- Display "Registered" or "Created" based on the event status -->
            <label class="event-user-relation">{{ event['status'] }}</label>
            
            <!-- Determine the event status (Upcoming or Completed) based on the date -->
            {% if event['start_date'] > current_date %}
                <label class="event-status">Upcoming</label>
            {% else %}
                <label class="event-status">Completed</label>
            {% endif %}
        </div>
        <label class="event-title2">{{ event['title'] }}</label>  <!-- Event title -->
        <div class="bottom-section">
            <div class="summary-bubbles">
                <div class="bubble">
                    <img src="static/images/eye.svg">
                    <label class="summary-number">{{ event['views'] }}</label> <!-- Total views -->
                </div>
                <div class="bubble">
                    <img src="static/images/people.svg">
                    <label class="summary-number">{{ event['total_tickets_sold'] }}</label> <!-- Total tickets sold -->
                </div>
            </div>
            <button class="more-info">⋮</button>
        </div>
    </div>
</a>
{% endfor %}
