<div class="home-event-user-card">
    <div class="image-background">
        <label class="event-user-relation">Registered</label>
        <label class="event-status">Upcoming</label>
    </div>
    <label class="event-title">Harvard University Fest</label>
    <div class="bottom-section">
        <div class="summary-bubbles">
            <label class="summary-number">150</label>
            <!-- <svg class="summary-view"></svg> -->
            <label class="summary-number">96</label>
            <!-- <svg class="summary-view"></svg> -->
        </div>
        <button class="more-info">...</button>
    </div>
</div>