<a href="/{{ event['event_id'] }}" class="home-event-card-link">
    <div class="event-card">
        <div class="image-container">
            <img>
            <span class="badge">{{ event['event_type'] }}</span>
        </div>
        <div class="event-content">
            <h3 class="event-title">{{ event['title'] }}</h3>
            <p class="event-datetime">{{ event['start_date'] }} to {{ event['end_date'] }} <br> from {{ event['start_time'] }} to {{ event['end_time'] }}</br></p>
            <p class="event-location">{{ event['city'] }}, {{ event['state'] }}, {{ event['country'] }}</p>
        </div>
    </div>
</a>