<div class="admin-dash-container">
    <label class="admin-dash-title">Admin Dash</label>
    <div class="column-split">
        <div class="column1">
            <div class="summary-card">
                <div class="summary-info">
                    <label class="summary-name">Total Views</label>
                    <!-- <svg class="summary-info-icon"></svg> -->
                </div>
                <div class="summary-number">
                    <label class="h1-text">1000</label>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-info">
                    <label class="summary-name">Total Registration</label>
                    <!-- <svg class="summary-info-icon"></svg> -->
                </div>
                <div class="summary-number">
                    <label class="h1-text">30 / 300</label>
                </div>
            </div>
        </div>
        <div class="column1">
            <div class="summary-card">
                <div class="summary-info">
                    <label class="summary-name">Preminum</label>
                    <!-- <svg class="summary-info-icon"></svg> -->
                </div>
                <div class="summary-number">
                    <label class="h1-text">10 / 100</label>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-info">
                    <label class="summary-name">Special</label>
                    <!-- <svg class="summary-info-icon"></svg> -->
                </div>
                <div class="summary-number">
                    <label class="h1-text">10 / 300</label>
                </div>
            </div>
        </div>
        <div class="column1">
            <button class="registration-list">
                <label class="registration-list-text">Registration List</label>
                <div class="download-svg"></div>
            </button>
        </div>
    </div>
</div>