<link rel="stylesheet" href="static/event-dual-column.css">

<div class="dual-column-description">
    <div class="dual-column-description-column1">
        <div class="description-box">
            <label class="h2-text">Event Details</label>
            <p>{{ event['description'] }}</p>
        </div>
        <div class="hours">
            <label class="h2-text">Hours</label>
            <label>
                <span class="hours-c">Weekday Hours:</span>
                {{ event['start_time'] }} to {{ event['end_time'] }}
            </label>
        </div>
    </div>
    <div class="dual-column-description-column2">
        <div class="google-map-container">
            <div class="google-map-link-header">
                <label class="h2-text">Google Maps</label>
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101408.18926086715!2d-122.08126699999998!3d37.4133351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb7495bec0189%3A0x7c17d44a466baf9b!2sMountain%20View%2C%20CA%2C%20USA!5e0!3m2!1sen!2sin!4v1733576736629!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="tags-container">
            <label class="h2-text">Tags</label>
            <div class="tags">
                {% for tag in event['tags'].split(',') %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="social-media-container">
            <label class="h2-text">Share with Friends</label>
            <div class="social-media-icons">
                <a href="#"><img src="static/images/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="static/images/WhatsApp.svg" alt="Twitter"></a>
                <a href="#"><img src="static/images/LinkedIn.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>
