<div class="event-display-card">

    <!--Left Side of the Event Display-->

    <div class="title-place-description">
        <button type="button">Back</button>
        <span>Dream world wide in jakatra</span>
        <span>IIIT Sonepat</span>
        <p>DesignHub organized a 3D Modeling Workshop using Blender on 16th February at 5 PM. The workshop taught participants the magic of creating stunning 3D models and animations using Blender. It was suitable for both beginners and experienced users. The event was followed by a blender-render competition, which added to the excitement.</p>
    </div>
    
    <!--Right Side of the Event Display-->

    <div class="place-time-booking-box">
        <div class="date-time-section">
            <div class="date-time-head">
                <span>Date & Time</span>
                <!--Place logo later-->
            </div>
            <span>Saturday, March 18 2023, 9:30 PM</span>
        </div>
        <div class="location-section">
            <div class="location-head">
                <span>Booking</span>
                <!--Place logo later-->
            </div>
            <p>Chromepet, Chennai 600033
                Tamil Nadu, India.</p>
        </div>
        <div class="book-now-section">
            <button type="button">Book Now</button>
            <span>No Refunds</span>
        </div>
    </div>
</div>