<link rel="stylesheet" href="static/event-display-card.css">

<div class="event-display-card">
    <!-- Background Image with Overlay -->
    <div class="background-image-container">
        <img src="{{ event['image_path']}}" alt="Event Background" class="background-image">
        <div class="background-overlay"></div>
    </div>

    <!-- Content -->
    <button class="back-button" type="button" onclick="history.back()">
        <img src="static/images/back.svg" alt="Back">
    </button>

    <!-- Left Side of the Event Display -->
    <div class="title-place-description">
        <span class="event-title">{{ event['title'] }}</span>
        <span class="event-place">{{ event['city'] }}, {{ event['state'] }}</span>
        <p class="event-description">{{ event['description'] }}</p>
    </div>

    <!-- Right Side of the Event Display -->
    <div class="place-time-booking-box">
        <div class="info-container">
            <div class="date-time-section">
                <div class="date-time-head">Date & Time</div>
            </div>
            <span class="booking-info">{{ event['start_date'] }} to {{ event['end_date'] }} <br>from {{ event['start_time'] }} to {{ event['end_time'] }}</span>
            <div class="location-section">
                <div class="location-head"><span>Booking</span></div>
                <p class="booking-info">{{ event['street'] }}, {{ event['city'] }}, <br> {{ event['state'] }}, {{ event['country'] }}</p>
            </div>
        </div>
        <div>
            {% if session.get('user_id') %}
            <div class="book-now-section">
                <a href="{{ url_for('register', event_id=event_id) }}">
                    <button class="book-now-button" type="button">Book Now</button>
                </a>
                <span>No Refunds</span>
            </div>
            {% else %}
            <div class="book-now-section">
                <button class="book-now-button" type="button" disabled>Book Now (Sign In!)</button>
                <span>No Refunds</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>
