<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event Page</title>
    <link rel="stylesheet" href="static/CreateEventPage.css">
</head>
<body>
    <header class="event-page-header">
        <label class="brand-title">
            Event
            <span class="brand-title-span">Hive</span>
        </label>
        <div class="login-signup-btn-grp">
            {% if session.get('user_id') %}
                <form action="{{ url_for('signout') }}" method="POST" style="display: inline;">
                    <button type="submit" class="signin-button">Sign Out</button>
                </form>
            {% else %}
                <form action="{{ url_for('signin') }}" method="GET" style="display: inline;">
                    <button type="submit" class="signin-button">Login</button>
                </form>
                <form action="{{ url_for('signup') }}" method="GET" style="display: inline;">
                    <button type="submit" class="signin-button">Signup</button>
                </form>
            {% endif %}
        </div>
    </header> 
    <div class="centered-container">

        <!-- EVENT FORM -->
        <form class="event-form" method="POST" enctype="multipart/form-data">
            <button class="back-button" type="button" onclick="history.back()"><img src="static/images/back.svg">
            </button>
            <!-- PRIMARY DETAILS -->
            <div class="primary-details">

                <label class="cep-header1">Event Details</label>
                <div class="input-component">
                    <label for="event-title">Event Title</label>
                    <input type="text" id="event-title" name="event-title" required>
                </div>
                <div class="input-component">
                    <label for="event-venue">Event Venue</label>
                    <input type="text" id="event-venue" name="event-venue" placeholder="Street name" required>
                    <div class="event-address-container">
                        <div class="city">
                            <label for="address-city">City</label>
                            <input type="text" id="address-city" name="event-city" placeholder="City name" required>
                        </div>
                        <div class="state">
                            <label for="address-state">State</label>
                            <input type="text" id="address-state" name="event-state" placeholder="State name" required>
                        </div>
                        <div class="country">
                            <label for="address-country">Country</label>
                            <input type="text" id="address-country" name="event-country" placeholder="Country name" required>
                        </div>
                    </div>
                </div>
                <div class="column-split">
                    <div class="column1">
                        <div class="input-component">
                            <label for="event-start-time">Start Time</label>
                            <input type="time" id="event-start-time" name="event-start-time" required>
                        </div>
                        <div class="input-component">
                            <label for="event-start-date">Start Date</label>
                            <input type="date" id="event-start-date" name="event-start-date" required>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="input-component">
                            <label for="event-end-time">End Time</label>
                            <input type="time" id="event-end-time" name="event-end-time" required>
                        </div>
                        <div class="input-component">
                            <label for="event-end-date">End Date</label>
                            <input type="date" id="event-end-date" name="event-end-date" required>
                        </div>
                    </div>
                </div>
            </div>
            <!-- EVENT DESCRIPTION -->
            <div class="event-description">
                <label class="cep-header1">Event Description</label>
                <div class="event-image">
                    <label for="event-image">Event Image</label>
                    <div class="file-upload-container">
                        <label for="event-image" class="custom-file-upload">Choose File</label>
                        <input class="all-text-input" type="file" id="event-image" name="event-image" accept="image/*">
                    </div>
                    <img alt="">
                </div>
                <div class="event-description-content">
                    <label for="event-description">Enter Description</label>
                    <textarea id="event-description" name="event-description" rows="4" placeholder="Type here..." required></textarea>
                </div>
                <div class="event-type">
                    <label>Event Type</label>
                    <input class="all-text-input" type="text" id="event-type" name="event-type" required>
                </div>
                <div class="event-tags">
                    <label for="event-tags">Event Tags</label>
                    <input class="all-text-input" type="text" id="event-tags" name="event-tags" required>
                </div>
            </div>
            <!-- EVENT PRICING -->
            <div class="event-pricing">
                <div class="toggle-pricing">
                    <label class="cep-header1">Pricing</label>
                    <div class="checkbox-wrapper-2">
                        <input type="checkbox" class="sc-gJwTLC ikxBAC">
                    </div>                   
                </div>
                <div id="pricing-tiers-container">
                    <!-- Initially one tier set -->
                    <div class="tier-details-column-split tier-1">
                        <div class="column1">
                            <label class="tier-name">Tier Name</label>
                            <input class="all-text-input" type="text" name="tier-name[]" required>
                            <div class="sub-column">
                                <div class="sub-column1">
                                    <label class="tier-price">Tier Price</label>
                                    <input class="all-text-input" type="number" name="tier-price[]" required>
                                </div>
                                <div class="sub-column2">
                                    <label class="tickets-max-count">Tickets Max Count</label>
                                    <input class="all-text-input" type="number" name="tickets-max-count[]" required>
                                </div>
                            </div>
                        </div>
                        <div class="column2">
                            <label class="tier-decription">Tier Description</label>
                            <textarea class="all-text-input" name="tier-description[]" rows="4" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="center-content-div">
                    <button class="add-pricing-button" type="button" id="add-pricing-tier">
                        <label class="add-pricing-buttons-text">Add Pricing Tiers</label>
                        <img src="static/images/addicon.svg">
                    </button>
                </div>
            </div>
            <script>
                document.getElementById('add-pricing-tier').addEventListener('click', function() {
                    var container = document.getElementById('pricing-tiers-container');
                    
                    // Clone the first tier set and update the class for uniqueness
                    var newTier = container.querySelector('.tier-1').cloneNode(true);
                    newTier.classList.remove('tier-1');
                    newTier.classList.add('tier-' + (container.children.length + 1));
                    
                    // Append the new tier to the container
                    container.appendChild(newTier);
                });
            </script>
            
            <!-- EVENT MEDIA -->
            <label class="cep-header1">Event Media</label>
            <div class="center-content-div">
                <button class="upload-media" type="button">
                    <label class="upload-media-text">Upload Media</label>
                    <img src="static/images/exporticon.svg">
                </button>
            </div>
            <!-- EVENT SUBMISSION -->
            <button type="submit" class="create-event-button">Create Event</button>
        </form>
    </div>
</body>
</html>
