<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Page</title>
</head>
<body>
    <header class="event-page-header">
        <label>
            <span>Event</span>
            <span>Hive</span>
        </label>
        <div class="login-signup-btn-grp">
            <button type="button">Login</button>
            <button type="button">Signup</button>
        </div>
    </header>
    {% include "EventPageComponents/event-display-card.html" %}
    {% include "EventPageComponents/event-dual-column.html" %}
</body>
</html>
