<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <header class="event-page-header">
        <label>
            <span>Event</span>
            <span>Hive</span>
        </label>
        <div class="login-signup-btn-grp">
            <button type="button">Login</button>
            <button type="button">Signup</button>
        </div>
    </header>
    <div class="registration-container">
        <label class="header1">Registration</label>
        <div class="tier-payment">
            <div class="tier">
                <label class="tier-name">Tier: Tier Name</label>
                <div class="column-split">
                    <div class="column1">
                        <label class="description-title">Description</label>
                        <p class="description-paragraph">DesignHub organized a 3D Modeling Workshop using Blender on 16th February at 5 PM. The workshop taught participants the magic of creating stunning 3D models and animations using Blender. It was suitable for both beginners and experienced users. The event was followed by a blender-render competition, which added to the excitement.</p>
                    </div>
                    <div class="column2">
                        <input type="number" class="total-tickers" placeholder="Enter number of Tickets (Default to 1)">
                        <button class="book-price-now">100$ Book Now</button>
                        <label class="availability">Availablility  10/100</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

